<ng-container *ngIf="condition">
    <div class="image">
        <app-header></app-header>

        <div class="container" style="margin-top: 2%;">
            <h1 style="text-align: center;">Register a Student</h1>
            <br>
            <form [formGroup]="formModel" (ngSubmit)="postData(formModel)">
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input class="form-control form-control-lg" type="text" formControlName="firstname">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label>
                    <input class="form-control form-control-lg" type="text" formControlName="lastname">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Student ID</label>
                    <input class="form-control form-control-lg" type="text" formControlName="studentid">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input class="form-control form-control-lg" type="text" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control form-control-lg" type="password" formControlName="password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Country</label>
                    <input class="form-control form-control-lg" type="text" formControlName="country">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Department</label>
                    <div class="input-group mb-3">
                        <select class="custom-select form-control form-control-lg" id="input"
                            formControlName="department">
                            <option selected value="None">Choose a department...</option>
                            <option value="Business School">Business School</option>
                            <option value="School of Education">School of Education</option>
                            <option value="School of Humanities and Social Sciences">School of Humanities and Social
                                Sciences</option>
                            <option value="School of Nursing and Health Studies">School of Nursing and Health Studies
                            </option>
                            <option value="School of Science">School of Science</option>
                            <option value="School of Social Work">School of Social Work</option>
                            <option value="Honors School">Honors School</option>
                            <option value="Graduate Studies">Graduate Studies</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                            data-target="#exampleModal">Submit</button>
                    </div>
                    <br>
                    <div class="control">
                        <button routerLink="/mainpage" type="cancel"
                            class="btn btn-secondary btn-lg btn-block">Cancel</button>
                    </div>
                </div>
                <!-- modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">MU Student Portal- Event</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Student Created Successfully!</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    onclick="location.reload()">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <app-footer></app-footer>
    </div>
</ng-container>