<ng-container *ngIf="condition">

<div class="image">
<app-header></app-header>

<div class="container">
    <br>
    <br>
    <table #fixedTable class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Student ID</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{ item.lastname }}</td>
            <td>{{ item.firstname }}</td>
            <td>{{ item.studentid }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.department }}</td>
            <td><button class="btn btn-danger" (click)="delete(item.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>

<app-footer></app-footer>
</div>

</ng-container>