<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img routerLink="/mainpage" src="\assets\MU.png" class="d-inline-block align-top" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/mainpage" class="nav-link">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="/event" class="nav-link" role="button">Event <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Register
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/register">Register a Student</a>
          <a class="dropdown-item" href="/view-student">View all Students</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button routerLink="/login" class="btn btn-outline-success my-2 my-sm-0">Sign Out</button>
    </form>
  </div>
</nav>



 