<div *ngIf="!paidFor">

    <h1>Join Us-${{ product.price }} / person</h1>
  
    <p>{{ product.description }}</p>
  
    <img width="465" [src]="product.img">
    <br>
    <br>
    <H5>Choose your Payment Method</H5>
  
  </div>
  
  <div *ngIf=paidFor>
    <h1>Thank you !</h1>
    <h5>Don't forget to let your friends know this party !</h5>
    <p>Please let us know you are in ! Email: <a href="mailto:123@gmail.com">123@gmail.com</a></p>
  
    <img width="465" src="../../assets/confirm.png">

  </div>

  
  <div [hidden]="paidFor" #paypal></div>