
// .body {
//     background-image: url('https://tours.pocketsights.com/media/3101/209ecebe31844f14bbc0229d4ec481de_medium.jpg');
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
//     background-size: ;
//   }
.image{
    background: url(../../assets/loginbg.jpg);
    // height: 1211px;
    height: 100vh;
    background-size: cover;
}

// .image{
//     position: relative;
//     display: block;
//     padding-bottom: 45%;
//     background-image: url(../../assets/1.jpg);
//     background-repeat: no-repeat;
//     background-size: 100%;
//     margin: 0 auto;
// }

.account-wall
{
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
width: 500px;
height:470px;
box-sizing: border-box;
background: rgba(0, 0, 0, .5);
border-radius: 20px;

.form-group{
    margin-left: 50px;
}

.form-control{
    width:400px; 
    height:50px;
}
}
.account-wall h1{
    margin: 50px;
    text-size-adjust: 30;
    padding: 0;
    color:#fff;
    text-align: center;
}
.account-wall .input
{
 position: relative;
}

.account-wall .inputBox input
{
 width:100%;
 padding: 10px 0;
 font-size: 16px;
 color:#fff;
 margin-bottom: 30px;
 border: none;
 outline:none;
 
}
.forget{
    text-align: center;
    color: white;
}
  