<div class="image"></div>

<div class="container">
  <div class="login">
    <div class="account-wall">
      <h1 style="text-align: center;">Welcome</h1>
      <form #f="ngForm" (ngSubmit)="login(f)" novalidate>
        <div class="form-group">
          <input name="email" class="form-control" type="email" placeholder="Enter email" ngModel>
        </div>
        <br>
        <div class="form-group">
          <input name="password" class="form-control" type="password" placeholder="Password" ngModel>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary"
          style="margin-left: 50px; width: 400px;height: 50px;">Sign
          in</button>
        <br>
        <br>
      </form>
      <div class="forget"><u>
          Forget username or password
        </u></div>
    </div>
  </div>
</div>
