#divWeatherMain{
  display:block;
  border-radius: 10px;

  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1));
  color: white;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow{
  display: block;
  margin:0 auto;
  width: fit-content;
}

.sun{
  margin: 10px;
  color: yellow;
  filter: drop-shadow(1px 1px 10px yellow)
}

.moon{
  margin: 10px;
  color: white;
  filter: drop-shadow(1px 1px 10px white)
}

.cloudDiv{
  margin-top: -54px;
}

.cloud{
  color: rgb(104, 175, 197);
  filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement{
  from{margin-left: -55px;}
  to{margin-left: 65px;}
}

  
#right{
    right: 50px;
}