<ng-container *ngIf="condition">

<div class="image">
<app-header></app-header>


<app-weather></app-weather>


<div style="margin-top: 2%;"class="container">
  <div class="row">
    <div style="margin-top: 5.5%;"class="col-md-6">
      <iframe width="551" height="311" src="https://www.youtube.com/embed/yBtu8efhDNg" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <h2>About Monmouth University</h2>
      <p>Monmouth University offers its students a dynamic and varied academic environment with abundant opportunities
        tolearn, adapt, and grow both personally and professionally. The University offers innovative academic programs,
        and qualified students can undertake anything from hands-on scientific research to global community service. A
        dedicated, caring, and distinguished faculty ensures learning is active and lively.</p>

      <p>Small classes, which allow for individual attention and student-faculty dialogue, together with purposeful
        academic advising and intensive career counseling, are hallmarks of the Monmouth experience. Monmouth University
        is listed in the Princeton Review's Best Colleges and U.S. News & World Report's "America's Best Colleges."
        Monmouth's student body is diverse, with a combined population of approximately 4,500 undergraduate and 1,800
        graduate students.</p>

      <p>The University's curriculum is in touch with today's globally oriented, technological society and offers
        challenging and innovative degree programs that interface with social and political issues. Students in all
        majors
        acquire a breadth of knowledge beyond their fields of study, including an appreciation of world culture.</p>

      <p>Monmouth University also emphasizes writing, public speaking, and other skills that are critical to personal
        and
        professional success. Additionally, Monmouth requires all students to fulfill an experiential education
        component
        that is a real-world experience related to the student's interests.</p>
    </div>
  </div>
</div>

<app-mumap></app-mumap>
<app-footer></app-footer>
</div>

</ng-container>