#right{
    position: fixed;
    top: 100px;
    width: 300px;
    // border: 1px solid #000;
}
#right{
    right: 50px;
}

.image{
    background: url(../../assets/bk.jpg);
    // height: 1211px;
    height: 100vh;
    background-size: cover;
}