<ng-container *ngIf="condition">
    
<div class="image">
<app-header></app-header>
<app-weather></app-weather>

<div style="margin-top: 2%;" class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/pizza.jpg"
                style="object-fit: cover;width: 530px;height: 300px;">
        </div>
        <div class="col-md-6">
            <H3>PARTY TIME on May 5 ! ! !</H3>
            <p>Hi, everyone! We have a party to welcome our new members on May 5. </p>
            <p>Time: 5:30 pm</p>
            <p>Place: Pizza Paradise</p>
            <p>Fee: $ 10 per person </p>
            <p>We have a bus leaves from the Student Center att 5 PM</p>
            <p>For any questions you can shoot us an email on <a href="mailto:123@gmail.com">123@gmail.com</a></p>

            <app-pay></app-pay>

        </div>

    </div>
</div>

<app-footer></app-footer>
</div>

</ng-container>